*.xml  export-ignore
.github/ export-ignore
.php-cs-fixer.dist.php export-ignore
composerw export-ignore
Dockerfile export-ignore
rector.php export-ignore
rector-test/ export-ignore
tests/ export-ignore
